[production]
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1
includePaths.library = PROJECT_PATH "/lib"
bootstrap.path = APPLICATION_PATH "/Bootstrap.php"
bootstrap.class = "Bootstrap"
appnamespace = "Knowledgeroot"
resources.frontController.controllerDirectory = APPLICATION_PATH "/controllers"
resources.frontController.params.displayExceptions = 1
resources.frontController.defaultControllerName = "index"
resources.frontController.defaultAction = "index"

resources.layout.layoutPath = APPLICATION_PATH "/layout/"
;resources.layout.layout = "layout"
resources.layout.layout = "layout-sidebar"

resources.view.encoding = "UTF-8"
resources.view.basePath = APPLICATION_PATH "/view/"
resources.view.helperPath = APPLICATION_PATH "/view/helpers"
[staging : production]

[testing : production]
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1

[development : production]
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1
resources.frontController.params.displayExceptions = 1

[base]
version = "2.0a1"
title = "Knowledgeroot"
cryptkey = "yourcryptkeyhere"
base_path = "/path/to/folder/"
base_url = "http://localhost/knowledgeroot/public/"
charset = "UTF-8"
locale = "en_US"
showlogo = "1"
theme = "green"

[admin]
loginhash = ""
base_path = "/path/to/folder/"

[rest]
enabled = true
apikey = XYZ

[upload]
url_suffix = "upload/"
path = "uploads/"
maxfilesize = ""

[files]
datastore = PROJECT_PATH "/data/files"
; download files with xsendfile feature
xsendfile.enable = false
xsendfile.name = "X-Sendfile"

[output]
compression = ""
level = "6"

[database]
adapter = "Pdo_Mysql"
params.host = "localhost"
params.username = "root"
params.password = ""
params.dbname = "knowledgeroot"
params.charset = "utf8"
schema = ""
profiler = "0"
pconnect = ""

[session]
;handle = "1"
;lifetime = "60"
;check_browser = "1"
;check_ip = "1"
;only_cookies = "1"
save_path = PROJECT_PATH "/data/sessions"
use_only_cookies = on
remember_me_seconds = 3600
name = knowledgeroot

[lucene]
save_path = PROJECT_PATH "/data/lucene"

[login]
delay = "30"
max = "50"

[alias]
enable = true
prefix = kb

[email]
notification = false
html = true
from = notify@localhost
to = notify@localhost
host = localhost
auth = login
username = user
password = password
port = 465
ssl = ssl

[mail]
;php or smtp
transport = php

;# php options
;parameters =

;# smtp options
;host = localhost
;options.xxx = yyy

[cache]
options.caching = false
options.lifetime = "7200"
options.automatic_serialization = "1"
path = "cache/"
frontend.name = Core
frontend.options.lifetime = 3600
frontend.options.automatic_serialization = true
backend.name = File
backend.options.cache_dir = PROJECT_PATH "/data/cache"

[log]
adapter = "file"
level = ""
file = "/tmp/knowledgeroot.log"

[translation]
adapter = "gettext"
folder = PROJECT_PATH "/data/locale/"

[developmentXX]
runtime = ""
toolbar = ""
sqldebug = "1"

[layout]
path = app/layout/
name = layout-old

[tree]
expandall = "1"
type = "static"
ajax = "1"
edittooltiptext = "1"
order = ""
showcounter = "1"
defaultlayout = ""
defaultlayoutarray = ""
symlink = "1"

[content]
showtitle = "1"
showtitledetails = ""
collapsecontent = "1"
statusbar = "1"
autosave = "1"
autosaveevery = "30"

[menu]
context = "1"
dragdrop = "1"
type = "static"
showsourceforgelogo = ""

[misc]
defaultpage = ""
recursivdelete = "2"
pagealias.use = "1"
pagealias.static = "1"
pagealias.rights = "2"
langdropdown = "1"
download.static = ""
subinheritrightsonmove = ""
showpagebottomnavi = ""

[javascript]
cdn = false
cdn_url = http://ajax.googleapis.com/ajax/libs/dojo/1.7.1/dojo/dojo.js
cdn_css_base_url = http://ajax.googleapis.com/ajax/libs/dojo/1.7.1/

[password]
method = sha512
rotation = 100

[linklist]
enable = false
list.1.url = http://www.knowledgeroot.org
list.1.name = Knowledgeroot
list.1.target = _blank
list.1.icon = fa fa-rocket
list.2.url = http://docs.knowledgeroot.org
list.2.name = Docs
list.2.target = _blank
list.2.icon = fa fa-book
list.3.url = http://api.knowledgeroot.org
list.3.name = API
list.3.target = _blank
list.3.icon = fa fa-puzzle-piece

[register]
enable = true
emailverification = true
captcha = true
defaultgroups = others
